<%include partials/header%>

<h1>Log In to YelpCamp</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username"></input>
    <input type="password" name="password" placeholder="password"></input>
    <button>Log In</button>
</form>

<a href="/"><button>Back</button></a>

<%include partials/footer%>